---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((file) => {
    return {
      params: {
        slug: `${file.data.customSlug}`,
      },
      props: file,
    };
  });
}) satisfies GetStaticPaths;

type Props = CollectionEntry<"blog">;

const post: Props = Astro.props;

const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  ogImage={post.data.ogImage.src}
  canonicalPath={post.data.canonicalPath}
>
  <main class="px-4 prose prose-invert mx-auto pt-28">
    <h1 class="text-4xl font-bold text-center mb-2">
      {post.data.title}
    </h1>
    <p class="font-bold text-zinc-400 text-center mt-0 mb-10">
      {post.data.pubDate}
    </p>
    <Content />
  </main>
  <Footer />
</Layout>
