---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((file) => {
    return {
      params: {
        slug: `${file.data.customSlug}`,
      },
      props: file,
    };
  });
}) satisfies GetStaticPaths;

type Props = CollectionEntry<"blog">;

const post: Props = Astro.props;

const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  ogImage={post.data.ogImage.src}
  canonicalPath={post.data.canonicalPath}
>
  <main class="px-4 prose prose-invert mx-auto pt-28">
    <h1 class="text-4xl font-bold text-start md:text-center mb-2">
      {post.data.title}
    </h1>
    <p class="font-bold text-zinc-400 text-start md:text-center mt-0 mb-10">
      {post.data.pubDate}
    </p>
    <Content />
    <hr />
    <script
      is:inline
      src="https://giscus.app/client.js"
      data-repo="overlayeddev/overlayed"
      data-repo-id="R_kgDOKpEChw"
      data-category="Announcements"
      data-category-id="DIC_kwDOKpECh84CfynN"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="dark"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </main>
</Layout>
