---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

// Sort my blog posts
blogPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<Layout
  title="Blog – Installing Overlayed on Windows"
  description="How to install Overlayed on Windows Step by Step"
>
  <main class="mx-auto px-8 pt-28">
    <section>
      <h1 class="text-4xl font-bold text-center mb-10">Blog</h1>
      <ul class="flex flex-wrap gap-4 justify-center">
        {
          blogPosts.map((post) => (
            <div class="p-2">
              <li>
                <a href={`/blog/${post.data.customSlug}`} class="group">
                  <Image
                    src={post.data.ogImage}
                    alt={post.data.title}
                    quality="max"
                    class="w-full h-64 object-cover rounded-lg"
                  />
                  <div class="opacity-60 group-hover:opacity-100 text-2xl pt-2">
                    {post.data.title}
                  </div>
                  <div class="opacity-40 group-hover:opacity-80 space-x-1">
                    <time datetime={post.data.pubDate}>
                      {new Date(post.data.pubDate).toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                  </div>
                </a>
              </li>
            </div>
          ))
        }
      </ul>
    </section>
  </main>

  <Footer />
</Layout>
